<div class="row">
	<div class="card medium-4 columns">
		<img src="http://placekitten.com/g/400/200">
		<div class="card-divider">
		This is a header
		</div>
		<div class="card-section">
			<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
		</div>
	</div>
	<div class="card medium-4 columns">
		<img src="http://placekitten.com/g/400/200">
		<div class="card-divider">
		This is a header
		</div>
		<div class="card-section">
			<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
		</div>
	</div>
	<div class="card medium-4 columns">
		<img src="http://placekitten.com/g/400/200">
		<div class="card-divider">
		This is a header
		</div>
		<div class="card-section">
			<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="card medium-4 columns">
		<img src="http://placekitten.com/g/400/200">
		<div class="card-divider">
		This is a header
		</div>
		<div class="card-section">
			<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
		</div>
	</div>
	<div class="card medium-4 columns">
		<img src="http://placekitten.com/g/400/200">
		<div class="card-divider">
		This is a header
		</div>
		<div class="card-section">
			<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
		</div>
	</div>
	<div class="card medium-4 columns">
		<img src="http://placekitten.com/g/400/200">
		<div class="card-divider">
		This is a header
		</div>
		<div class="card-section">
			<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="card medium-4 columns">
		<img src="http://placekitten.com/g/400/200">
		<div class="card-divider">
		This is a header
		</div>
		<div class="card-section">
			<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
		</div>
	</div>
	<div class="card medium-4 columns">
		<img src="http://placekitten.com/g/400/200">
		<div class="card-divider">
		This is a header
		</div>
		<div class="card-section">
			<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
		</div>
	</div>
	<div class="card medium-4 columns">
		<img src="http://placekitten.com/g/400/200">
		<div class="card-divider">
		This is a header
		</div>
		<div class="card-section">
			<p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
		</div>
	</div>
</div>